@import url('https://fonts.googleapis.com/css2?family=Belleza&family=Open+Sans:wght@300;400;500&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    
}

body{

    overflow-x: hidden;
    background-color: black;
    
    
}


main{

    background-color:rgb(0, 0, 0) ;
    padding: 20px;
    overflow-x: hidden;



    min-width: 320px;
    max-width: 800px;
    margin: auto;

}
img{
    width: 80%;

}
.Relogio{


    
    margin-top: 40px;
    width: 465px;

    


    
}


.sub{

    color: white;
    font-family: 'Belleza', sans-serif;
    font-size: 10px;
    margin-right: 20px;

    
}
.sub:hover{
    color: gray;
}


.call{
    color:rgb(7, 222, 97);
    font-family: 'Belleza', sans-serif;;
    font-size: 2rem;
    margin-left: 90px;
    margin-top: 20px;

}

.call:hover{
    color: rgb(16, 81, 125);
}



.fi{
    margin-left:10px;
    margin-top: 10px;
    position: fixed;
}

.texto{
    
    background: grey;
    width: 2000px;
    height: 50px;


}


header{
    max-width: 1680px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:gray


   

}

   


header .logo img{
    width: 110px;
    height: 40px;
    margin-right: 1400px;
    margin-left: 200px;

    
}

header .menu ul{
    display: flex;
    padding: 030px;

}
header .menu ul li{
    list-style: none;
    padding: 0 10px;
    
}
header .menu ul li a{
    font-family: 'Belleza', sans-serif;
    text-decoration: none;
    font-size: 15px;
    color:white;
    

}

header .menu ul li a:hover{
    background: #000000;
}

#branch .container{
    background: url(./bg3.png) no-repeat;
    background-size: 100% 100%;

}
#branch .container .title{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 0px;
    margin-right: 50px;
}

#branch .container .title .line{
    width: 2000px;
    height:50px;
    background: gray;
    margin-top: 33px;

}
#branch .container .title h1{
    font-family: 'Belleza', sans-serif;
    font-size: 2rem;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing:15px;
    margin-top: 50px;
    color: rgb(12, 236, 8);
    margin-left: 52px;
}
#branch .container .content{
    width:100%;
    height:90vh;
    display: flex;
    justify-content: space-evenly;
}
#branch .container .content .box{
    width: 25%;
    height: 55vh;
    background:rgba(0, 0, 0, 0.805);
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(9, 212, 46, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 70px;
    
    
}
#branch .container .box p{
    margin-top:22px;
    margin-bottom: 60px;
    font-family: 'Belleza', sans-serif;
    font-weight: 200;
    letter-spacing: 8px;
    padding: 5px 5px;
    background:rgb(7, 222, 97);
    color: rgb(0, 0, 0);
    border-radius: 5px;


}

#branch .container .box h1{
    margin-top:22px;
    margin-bottom: 60px;
    font-family: 'Belleza', sans-serif;
    font-weight: 200;
    letter-spacing: 8px;
    background:rgb(7, 222, 97);
    padding: 5px 5px;
    color: #000000;
    border-radius: 5px;
}
#branch .container .box h5{
    margin-top:22px;
    margin-bottom: 60px;
    font-family: 'Belleza', sans-serif;
    font-weight: 200;
    letter-spacing: 8px;
    padding: 5px 5px;
    color: rgb(16, 207, 121);
    border-radius: 5px;
}
#branch .container .box img{
    width:80px;
}
#branch .container .box h6{
    font-size: 9px;
    font-family: 'Belleza', sans-serif;
    text-transform: uppercase;
    letter-spacing: 10px;
    margin-top:20px;
    color:rgb(216, 227, 215);
}

#branch .container .box h2{
    font-family: 'Bebas Neue' cursive;
    font-size: 1.8rem;
    letter-spacing: 10px;
    color:white;
    margin-top:30px;
}

#branch .container .box button{
    padding: 16px 20px;
    border:none;
    background: #4f4e57;
   color: rgb(12, 236, 8);
    font-family: 'Belleza', sans-serif;
    font-size: 1.2rem;
    margin-top:0px;
    cursor: pointer;
    transform: translateY(-48PX);
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;

}
#branch .container .box:hover button{
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

       
.whatsapp-link {
    position: fixed;
    width:60px;
    height: 60px;
    bottom:40px;
    right: 40px;
    background-color: rgb(4, 211, 28);;
    color: white;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 1px 1px 2px #888;
    z-index: 1000;
}

.fa-whatsapp{
     margin-top: 16px;
}

* ------ABOUT ------*/
#about .container{
    background: url(./bg2.png) no-repeat;
    background-size: 100% 100%;
}
#about .container .title{
    width: 80%;
    display: flex;
    align-items:flex-end;
    justify-content: center;
    flex-direction: column;
    padding-top: 100px;
}


#about .container .title h1{
    margin-top: 5px;
    text-transform: uppercase;
    font-family: 'Belleza', sans-serif;
    font-size: 2rem;
    font-weight: 200;
    letter-spacing: 15px;
    
    

}
#about .container .title .call{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    top: 100px;
    left: 120;
    
}
#about .container .title .call h2{
    font-family: 'Belleza', sans-serif;
    font-weight: 200;
    font-size: 1.0ren;
    text-transform: uppercase;
    margin-bottom: 50px;
    letter-spacing: 5px;
    margin-top: 50px;
}
#about .container .title .call p{
    font-size: 1.3rem;
    font-family: 'Belleza', sans-serif;
    
}

#about .container .title .call button:hover{
    transform: scale(1);
    border: 2px solid #302725;
    background: none;
    color: #302725;
    font-weight: 600;

}

/* ------PRODUCTS ------*/
#products .container{
    background: url(./bg3.png) no-repeat;
    background-size: 100% 100%;
}

#products .container .title{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 90px;
    margin-left: 15px;
}
#products .container .title .line{
    width: 2000px;
    height: 50px;
    background: gray;
    margin-top: 29px;


}
#products .container .title h1{
    font-family: 'Belleza', sans-serif;
    font-size: 2rem;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing:15px;
    margin-top: 50px;
    color: rgb(12, 236, 8);
    margin-left: 10px;

}

/* ------TEAM ------*/


#team .container .title h1{
    font-family: 'Belleza', sans-serif;
    font-size:2.3rem
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing:15px;
    margin-top: 100px;
    margin-right: 50px;



 

}

#team .container .card{
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-left: 5px;
    
}
#team .container .card .box{
    
    height: 45vh;
    background:black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-right: 400px;
    margin-left: 100px;

}
#team  .container .card .box .icon{
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 75px;
    cursor: pointer;
}
#team  .container .card .box .icon ion-icon{
    color:#f0f8ff;
    font-size: 1.6 rem;
    margin-top: 1opx;
    
}
#team .container .box button{
    border:none;
    background:  rgba(0, 255, 0, 0.7);
    color:#202020;
    font-family: 'Belleza', sans-serif;
    font-size: 1.2rem;
    margin-top:15px;
  
    
}
#team  .container .card .box img{
    width: 100px;
    margin-top: 10px;
}
#team  .container .card .box h1{
    margin-top: 30px;
    font-family: 'Belleza', sans-serif;
    font-weight: 200;
    text-transform: uppercase;
    color: #f0f8ff;


    
}
#team  .container .card .box p{
    font-family: 'Belleza', sans-serif;
    font-size: 2.0rem;
    letter-spacing: 7px;
    color:#f5f3f1;
    margin-top: 40px;

}
.owl-dot{
    width: 25px;
    height: 25px;
    outline: nome,!important;
    border-radius: 50%;
    border: 5px solid  rgba(16, 190, 0, 0.7)!important;
    margin-right: 10px;

    

    
}
.owl-dot.active{
    width:45px;
    border-radius:10px;
}



.container:hover{
    transform: translate(1,2);
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: rgb(12, 236, 8);
}