@import url('https://fonts.googleapis.com/css2?family=Belleza&family=Open+Sans:wght@300;400;500&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    
}

body{

    overflow-x: hidden;
    background-color: black;
    
    
}


main{

    background-color:rgb(0, 0, 0) ;
    padding: 20px;
    overflow-x: hidden;



    min-width: 320px;
    max-width: 800px;
    margin: auto;

}
img{
    width: 80%;

}
.Relogio{


    
    margin-top: 40px;
    width: 465px;

    


    
}


.sub{

    color: white;
    font-family: 'Belleza', sans-serif;
    font-size: 10px;
    margin-right: 20px;

    
}


.call{
    color:rgb(7, 222, 97);
    font-family: 'Belleza', sans-serif;;
    font-size: 2rem;
    margin-left: 90px;
    margin-top: 20px;

}



.fi{
    margin-left:10px;
    margin-top: 10px;
    position: fixed;
}

.texto{
    
    background: grey;
    width: 2000px;
    height: 50px;


}


header{
    max-width: 1680px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:gray


   

}

   


header .logo img{
    width: 110px;
    height: 40px;
    margin-right: 1400px;
    margin-left: 200px;

    
}

header .menu ul{
    display: flex;
    padding: 030px;

}
header .menu ul li{
    list-style: none;
    padding: 0 10px;
    
}
header .menu ul li a{
    font-family: 'Belleza', sans-serif;
    text-decoration: none;
    font-size: 15px;
    color:white;
    

}


#branch .container{
    background: url(./bg3.png) no-repeat;
    background-size: 100% 100%;

}
#branch .container .title{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 0px;
    margin-right: 50px;
}

#branch .container .title .line{
    width: 2000px;
    height:50px;
    background: gray;
    margin-top: 33px;

}
#branch .container .title h1{
    font-family: 'Belleza', sans-serif;
    font-size: 2rem;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing:15px;
    margin-top: 50px;
    color: rgb(12, 236, 8);
    margin-left: 52px;
}
#branch .container .content{
    width:100%;
    height:90vh;
    display: flex;
    justify-content: space-evenly;
}
#branch .container .content .box{
    width: 25%;
    height: 55vh;
    background:rgba(0, 0, 0, 0.805);
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(9, 212, 46, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 70px;
    
    
}
#branch .container .box p{
    margin-top:22px;
    margin-bottom: 60px;
    font-family: 'Belleza', sans-serif;
    font-weight: 200;
    letter-spacing: 8px;
    padding: 5px 5px;
    background:rgb(7, 222, 97);
    color: rgb(0, 0, 0);
    border-radius: 5px;


}

#branch .container .box h1{
    margin-top:22px;
    margin-bottom: 60px;
    font-family: 'Belleza', sans-serif;
    font-weight: 200;
    letter-spacing: 8px;
    background:rgb(7, 222, 97);
    padding: 5px 5px;
    color: #000000;
    border-radius: 5px;
}
#branch .container .box h5{
    margin-top:22px;
    margin-bottom: 60px;
    font-family: 'Belleza', sans-serif;
    font-weight: 200;
    letter-spacing: 8px;
    padding: 5px 5px;
    color: rgb(16, 207, 121);
    border-radius: 5px;
}
#branch .container .box img{
    width:80px;
}
#branch .container .box h6{
    font-size: 9px;
    font-family: 'Belleza', sans-serif;
    text-transform: uppercase;
    letter-spacing: 10px;
    margin-top:20px;
    color:rgb(216, 227, 215);
}

#branch .container .box h2{
    font-family: 'Bebas Neue' cursive;
    font-size: 1.8rem;
    letter-spacing: 10px;
    color:white;
    margin-top:30px;
}

#branch .container .box button{
    padding: 16px 20px;
    border:none;
    background: #4f4e57;
    color:black;
    font-family: 'Belleza', sans-serif;
    font-size: 1.2rem;
    margin-top:0px;
    cursor: pointer;
    transform: translateY(-48PX);
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;

}
#branch .container .box:hover button{
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

       
.whatsapp-link {
    position: fixed;
    width:60px;
    height: 60px;
    bottom:40px;
    right: 40px;
    background-color: rgb(4, 211, 28);;
    color: white;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 1px 1px 2px #888;
    z-index: 1000;
}

.fa-whatsapp{
     margin-top: 16px;
}